name: Build Modpack Zip

on:
  push:
   branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create zip archive
        run: |
          zip -r modpack.zip . \
            -x "*.git*" \
               ".github/*"

      - name: Create Release + Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Modpack Build
          files: modpack.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}